#main-container{
    width: 80%;    
    margin: 10px auto 10px auto;
    padding: 20px 20px 20px 20px;
}

#message-container{
    min-height:6em;
}
.message-area{
    /* width:20%; */
    /* float:right; */
    display:none;
}

#list{
    display:none;
}
.section{
    padding-bottom:1em;
}
